<!DOCTYPE html> 
 
<html> 
 
<head> 
    <link rel="stylesheet" href="/css/styles.css"> 
    <script src="/js/utils.js"></script> 
</head> 
 
<body> 
    <div class="header">
        {{>header}} 
    </div>
    <div class="footer">
        {{>footer}} 
        <img src="/img/weather.png">
    </div>
    <h3 id = "results"></h3>
</body> 
 
</html>