{{!-- footer.hbs --}} 
<h2>Enter the city:</h2>
<div class = "form">
<form name="cityForm" onsubmit="getCity();return false">
  <input type="text" id="city"><br>
  <input type="submit" value="Submit" style="position:relative; top:-21px; left: 100%;">
</form> 
</div>